$primary: #409efe; // 主题颜色
$success: #00a605; // 成功
$warning: #ff9900; // 警告
$error: #ff2525; // 错误
$disabled: #99A9BF;

$white: #fff;
$warning-light: rgba($warning, 0.5);

$text: #475669;
$border: #C0CCDA;